.contenedor{
width: 100%;
max-width: 1000px;
margin: 0 auto;
border: 5px solid #ccc;
overflow: hidden;

	display: grid;

	grid-template-areas: "bloque_principal bloque_mapa"
					     "bloque_principal bloque_detalles"; 
}

.bloque_principal{
	max-height: auto;
	border-right: 10px solid #fff;
	grid-area: bloque_principal;
}

 .bloque_principal, .bloque_mapa, .bloque_detalles{
	width: 100%;
	border: 5px solid #fff;
	float: left;
	background: #000;
	box-sizing: border-box;
	color: #fff;
}

	.bloque_mapa{
		max-height: auto;
		grid-area: bloque_mapa;
	}

	.bloque_detalles{
		max-height: auto;
		grid-area: bloque_detalles;
}

.bloque_principal img{
	width: 90px;
	height: auto;
	position: relative;
	top: 30px;
	margin: auto;
	display: block;
}

.map img{
	width: 90%;
	height: 250px;
	margin: auto;
	display: block;
	position: relative;
	top: 10px;
}

.icono{
	width: 90%;
	height: 50px;
	margin: auto;
	display: block;
	position: relative;
	top: -10px;
}
.icono img{
	position: relative;
	top: -56px;
	left: 93%;
	width: 31px;
}

.bloque_principal div{
	width: 40%;
	border-top: 1px solid #1f1e1e;
	position: relative;
	top: 45px;
	left: 29%;
}

h1, h4, h5{
	text-align: center;
	position: relative;
	top: 24px; 
}

/* - Tareas - */
.tareas div{
	width: 40%;
	position: relative;
	top: 15px;
	margin: auto;
	display: block; 
	border-top: 1px solid #1f1e1e;
	border-bottom: 1px solid #1f1e1e;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.tareas .lista li {
	list-style: none;
	position: relative;
	right: 15px;
	text-align: center;
}
 
.tareas .lista li a {
	color: #fff;
	display: block;
	padding: 10px;
	text-decoration: none;
}
 
.tareas .lista li a:hover {
	text-decoration: line-through;
}

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
	margin-bottom: 20px; 
}
 
.principal {
	background: #161514;
	color: #fff;
	width: 100%;
}

.principal .formulario input[type=text] {
	float: left;
	margin-bottom: 10px;
	padding: 5px;
	width: 70%;
}
 
.principal .formulario input[type=text].error {
	border: 5px solid #474645;
	color: red;
}
 
.principal .formulario .boton {
	float: right;
	background: #1c1b1a;
	border: 1px solid #474645;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 5px;
}
 
.principal .formulario .boton:hover {
	border: 1px solid #fff;
}
 